html { 
    background: url(../img/oldcamerabg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }


  .header-main{
    display: flex;
    color: bisque;
    font-size: 23px;
    font-weight: 500;
    font-family:  'Poppins', sans-serif;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 8px #2e2d2d;
    padding-left: 20px;
  }

  .logo{
    align-content: center;
    margin-bottom: -10px;
  }
  
  .book-button{
    padding: 15px;
    display: flex;
    color: bisque;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid bisque;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: all 300ms ease;
  }
  
  .links{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    gap: 60px;
  }

   .links a {
    color: bisque;
    position: relative;
    text-decoration: none;
  }
  
  .links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: bisque;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .links a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  
  .book-button:hover {
    color: #fff;
    z-index: 10;
    
  }

  .book-button:active{
    background-color: bisque;
  }
  
  /* Main Body CSS */
  
  .main-content{
    display: flex;
    margin-top: 80px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(255, 228, 196, .27);
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 5px rgba(65, 64, 64, 0.4);
    -webkit-box-shadow: 0 0 5px 5px rgba(65, 64, 64, 0.4);
    box-shadow: 0 0 5px 5px rgba(65, 64, 64, 0.4);
    
  }

  .main-text{
    display: flex;
    padding: 80px;
    padding-right: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 140px;
    flex: 1;
  }
  
  .main-image{
    align-self: center;
    padding-left: 20px;
    padding-right: 90px;
    -webkit-filter: sepia(75%);
    filter: sepia(75%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .main-image:hover  {
    -webkit-filter: sepia(0);
    filter: sepia(0);
  }

  .imageborder{
    border-radius: 10px;
  }

   main{
    font-family: "Poppins",sans-serif;
    color: antiquewhite;
    font-size: large;
    font-weight: 500;
   }
   
   .sub-text{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 4px 7px rgba(15, 14, 11, 0.8);
   }

   .main-title{
    margin-bottom: 5px;
    text-shadow: 10px 10px 11px rgba(37, 37, 37, 0.8);
   }
    
   .read-more{
    background: linear-gradient(to left, transparent 50%, bisque 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 2px ;
    border-radius: 22px;
    font-family: "Poppins",sans-serif;
    color: rgb(255, 255, 244);
    font-size: 18px;
    transition: all 0.5s ease;
    cursor:pointer;
    padding: 3px 15px 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 10px 20px, rgba(0, 0, 0, 0.22) 2px 10px 8px;
   }
    
   .read-more:hover,
    button:hover {
    outline: 0;
    color: rgba(109, 36, 7, 0.733);
   }
   .read-more:active,
    button:active {
    outline: 0;
    color: #fff;
   }
    .read-more:hover {
    background-position: left bottom;
   }

   h2{
    text-align: center;
    margin-top: 150px;
    color: bisque;
    font-size: 80px;
    font-family: "Poppins",sans-serif;
    text-shadow: 0px 11px 10px rgba(255,228,196, 0.3);
   }
  
   /* Image Content */

   .image-container{
    display: flex;
    margin-top: 100px;
    align-content: center;
    justify-content: space-evenly;
   }

   .image-container img{
    width: 200px;
    display: flex;
    border: 4px solid #9e7d44c5;
    border-radius: 6px;
    box-shadow: antiquewhite 0px 20px 30px -5px;
    transition: transform .2s ease; /* Animation */
    
   }

   .image-container img:hover {
    transform: scale(1.3);
   }

   
   .credit-links {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #201604c5;
    font-family:  'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s ease;
   }

   .credit-links:hover{
    color: bisque;
    border: none;
    text-shadow: 0 0 5px bisque;
  }
   
  /* Quotation Content */

  .quote-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 160px;
    padding: 60px;
    background-color: rgba(255, 228, 196, .27);
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 5px rgba(65, 64, 64, 0.4);
    -webkit-box-shadow: 0 0 5px 5px rgba(65, 64, 64, 0.4);
    box-shadow: 0 0 5px 5px rgba(65, 64, 64, 0.4);
  }

  .quote-content{
    display: flex;
    color: bisque;
    font-size: 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 4px 7px rgba(15, 14, 11, 0.8)
  }

  .author-quote{
    display: flex;
    color: bisque;
    font-size: 27px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-left: 1100px;
  }
   

  /* Pop-up Information */

  .explore-info{
    display: flex;
    padding: 24px;
    margin-top: 160px;
    justify-content: center;
    align-items: center;
  }

  .explore-content{
    display: flex;
    border: 2px solid white;
    width: max-content;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 40px;
    background-color: rgb(218, 195, 166);
    border-radius: 6px;
  }

  .explore-title{
    flex: 1;
    font-size: 34px;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
  }

  .explore-title{
    display: flex;
    align-self: flex-start;
    font-size: 25px;
    width: 880px;
    font-family: "Poppins",sans-serif;
    flex-wrap: wrap;
  }

  .explore-text{
    font-size: 16px;
  }

  .explore-two{
    display: flex;
  }
   
  .button-container{
    margin-left: 20px;
    margin-top: 20px;
  }
   
  .explore-button{
    padding: 15px;
    display: flex;
    color: rgb(88, 51, 6);
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid rgb(71, 50, 23);
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: all 300ms ease;
  }


   
  

   
   

   

   
  



   

   

  
  
  